body {
    width: 100%;
    max-width: 800px;
    margin: 15px auto;
    box-shadow: 10px 10px 20px black;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

@media screen and (max-width: 799px){
    .page {
        flex-direction: column;}
    
}

.page {
    display: flex;
}

header {
    height: 178px;
    background-image: url(../images/11.png);
    background-position: center;
    background-size: cover;
    color: #9ea3a2;
    font-size: 16px;
    letter-spacing: 4px;
}

.hello, h1, .antrop {
    text-align: center;
}

.hello {
    padding-top: 38px;
    margin-bottom: 5px;
}

h1 {
    margin: 8px;
}

.antrop {
    margin-top: 3px;
}

.contact {
    /* width: 37%; */
    background-color: #f0f0f0;
}

.foto {
    width: 220px;
    margin: 17px auto;
    border: 10px solid #c7c7c7;
    display: block;
}

h2 {
    font-size: 15px;
    margin: 17px;
    color: #4e595a;
    padding-bottom: 5px;
    border-bottom: 2px solid #c7c7c7;
}

.contact h2 {
    margin-top: 40px;
}

p {
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

table {
    margin-left: 17px;
    margin-right: 17px;
}

td, tr {
    padding-top: 10px;
    padding-right: 15px;
}

ul {
    margin-left: -8px;
}

li {
    margin-bottom: 5px;
}

.cats {
    display: none;
    position: absolute;
    top: 60%;
    border: 0;
    left: 10%;
}

a:hover img {
    display: block;
}

.skill {
    position: relative;
    /* width: 63%; */
    z-index: 1;
}

.skill:before {
    content: "";
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    bottom: 0;
    right: 0;
    display: block;
    width: 300px;
    height: 300px;
}