body {
    width: 797px;
    height: 1127px;
    margin: 15px auto;  /* выравнивание по центру */
    box-shadow: 10px 10px 20px black; /* тень */
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.main {
    position: absolute;
}

header {
    width: 797px;
    height: 178px;
    background-image: url(../images/11.png);
    background-position: center;
    background-size: cover;
    color: #9ea3a2;
    font-size: 16px;
    letter-spacing: 4px;
}

.hello, .antrop, h1 {
    text-align: center;
}

.hello {
    padding-top: 1cm;
    margin-bottom: 5px;
}

h1 {
    margin: 8px;
}

.antrop {
    margin-top: 3px;
}

.contact {
    float: left;
    width: 277px;
    height: 948px;
    background-color: #f0f0f0;
}

h2 {
    font-size: 15px;
    margin: 17px;
    color: #4e595a;
    padding-bottom: 5px;
    border-bottom: 2px solid #c7c7c7;
}

.communications, .atribut, .data {
    margin-top: 40px;
}

p {
    margin-left: 17px;
    margin-right: 17px;
    text-align: justify;
}

img {
    margin: 17px;
    border: 10px solid #c7c7c7;
    display: block;
}

dt {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    width: 60px;
}

.contact dd {
    margin-bottom: 12px;

}

ul {
    margin-left: -8px;
}

.contact li {
    margin-bottom: 5px;
}

li img, .cats {
    display: none;
    position: absolute;
    top: 30%;
    border: 0;
    left: 10%;
}

a:hover img {
    display: block;
}

.skill {
    float: right;
    width: 520px;
    height: 948px;
    z-index: 1;
}

.skill:before {
    content: "";
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom right;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}